/** @format */

body {
	background: rgb(63, 94, 251);
	background: radial-gradient(
		circle,
		rgba(63, 94, 251, 1) 0%,
		rgba(252, 70, 107, 1) 100%
	);
	height: 100vh;
}

#main-div {
	border-radius: 25px;
}

.box-image {
	left: -4rem;
	top: 50%;
}
